* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-black: hsl(252, 30%, 10%);
  --color-grey: hsl(252, 15%, 65%);
  --color-dark: hsl(252, 30%, 17%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn-hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn-danger {
  background: var(--color-danger);
  color: var(--color-white);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-grey);
}

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

/* Laptops and big screens */
@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
  #main-section .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
  .endSidebarBtn {
    display: none;
  }
  .sidebarLeft .sidebarProfile {
    display: none;
  }
  .sidebarLeft h3 {
    display: none;
  }
}

/* mobile and small tablets */
@media screen and (max-width: 992px) {
  .topbarSearchBar {
    display: none;
  }
  #main-section .container {
    /* grid-template-columns: 0 auto 5rem; */
    display: flex;
  }
  .sidebarLeft {
    display: block;
    position: fixed;
    bottom: 0;
    top: auto;
  }
}
